
		           <div class="divScroll">
					<div class="CajaInicio animated bounceInRight">
							<h1>Listado de productos</h1>
							<input type="search" ng-model="buscador" placeholder="Buscar producto">		
							<!-- id="listaproductos" -->
								
								<table class='table table-hover table-responsive' id="listaproductos">
									<thead>
										<tr>
															
											<th>  ID              </th>
											<th>  Descripcion             </th>
											<th>  Precio    </th>
											<th>  BORRAR           </th>
											<th>  MODIFICAR        </th>
										</tr> 
									</thead>
									
									<tr ng-repeat="producto in Listadoproductos | filter:buscador as resultado">
							
										<td>{{producto.id}}</td>
										<td>{{producto.descripcion}}</td>
										<td>{{producto.precio}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(producto)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar' ui-sref="producto.modificacion({id:producto.id, precio:producto.precio, descripcion:producto.descripcion})"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									
								</table>
								<div ng-if="resultado.length==0">
									No hay productos con ese critero.
								</div>
							</div>
						</div>